.home-container {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 3fr;
  overflow: hidden;
  height: calc(100vh - 70px);
  width: 100vw;
}
.users-container {
  margin-top: 10px;
  border-right: 2px solid #ebebeb;
  overflow-y: auto;
}
.users-container .users-title {
  display: flex;
  align-items: center;
  border-bottom: 2px solid #ebebeb;
  font-size: 16px;
}
.messages-container {
  position: relative;
  width: 100%;
}
.messages-user {
  display: flex;
  padding: 10px;
  text-align: center;
  align-items: center;
  border-bottom: 2px solid #ebebeb;
  justify-content : flex-end;
}
.messages-user h3 {
  margin-left: 10px;
  font-size: 14px;
  margin-right: auto;
}
.no-conversation {
  font-size: 20px;
  color: #000;
  opacity: 0.8;
  text-align: center;
}
.messages {
  height: calc(100vh - 190px);
  overflow-y: auto;
  border-bottom: 1px solid #ebebeb;
}
.video-grid{
  position: absolute;
  right: 0;
  z-index:2;
}
.video-invisible{
  transition: display 5s;
  display: none !important;
}
.video-visible{
 
  display: inline-block !important;
}

@media screen and (max-width: 768px) {
  .home-container {
    grid-template-columns: 1fr 2fr;
  }
}

@media screen and (max-width: 576px) {
  .home-container {
    grid-template-columns: 1fr 5fr;
  }
  .users-container .users-title {
    display: none;
  }
}

