.message-form{
    position: absolute;
    bottom: 0;
    left: 2%;
    width: 100%;
    display: flex;
    align-items: center;
}
.react-input-emoji--input{
    width: 61vw !important; 
}
.message-form .message-form-btn{
    color: #fff;
    background-color: #1976D2;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all .2s;

}
.message-form .message-form-btn:hover{
    background-color: #115293;
}

@media screen and (max-width:1024px){
    .react-input-emoji--input{
        width: 57vw !important; 
    }
}
@media screen and (max-width:768px){
    .react-input-emoji--input{
        width: 45vw !important; 
    }
}
@media screen and (max-width:576px){
    .react-input-emoji--input{
        width: 54vw !important; 
    }
}
@media screen and (max-width:414px){
    .react-input-emoji--input{
        width: 58vw !important; 
    }
}
@media screen and (max-width:375px){
    .react-input-emoji--input{
        width: 54vw !important; 
    }
}
@media screen and (max-width:320px){
    .react-input-emoji--input{
        width: 46vw !important; 
    }
}